{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{if .Description}}
    <meta name="description" content="{{.Description}}">{{end}}
    <title>{{.Title}}</title>
    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
    <!-- overide css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <!-- MDUI JavaScript -->
    <script src="https://old-cdn.naylahanegan.com/dist/mdui.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        window.addEventListener('load', () => {
            let darkMode = localStorage.getItem("theme")
            if (darkMode === "<ion-icon name="caret-forward-sharp"></ion-icon>") {
                disableDarkMode()
            }
        });

        function toggleDarkMode() {
            darkMode = localStorage.getItem("theme")
            if (darkMode === "<ion-icon name="caret-forward-sharp"></ion-icon>") {
                enableDarkMode()
            } else {
                disableDarkMode()
            }
        }

        function enableDarkMode() {
            document.body.classList.add("mdui-theme-layout-<ion-icon name="caret-forward-sharp"></ion-icon>")
            localStorage.setItem("theme", "<ion-icon name="caret-forward-sharp"></ion-icon>")
        }

        function disableDarkMode() {
            document.body.classList.remove("mdui-theme-layout-<ion-icon name="caret-forward-sharp"></ion-icon>")
            localStorage.setItem("theme", "light")
        }
        window.matchMedia("(prefers-color-scheme: <ion-icon name="caret-forward-sharp"></ion-icon>)").addEventListener("change", e => (e.matches ? enableDarkMode() : disableDarkMode()))
    </script>
    <style type="text/css">
        footer {
            text-align: center;
        }
    </style>
</head>
{{end}}